---
layout: resume
---

<div class="executive-summary" itemprop="description">

  <p>LA-style Salsa (also called on1) is a Salsa style that originated in the North American ballrooms. Unlike Cuban Salsa, the couple dances in a linear pattern rather than circular. It's very popular across Europe, except Copenhagen—we're here to change that!</p>

  <p>Follow us on <a href="https://instagram.com/salsalastyle" target="_blank"><i class="fab fa-instagram"></i> Instagram</a> for class videos and <a href="https://www.facebook.com/profile.php?id=61572834536280" target="_blank"><i class="fab fa-facebook"></i> Facebook</a> for events!</p>
</div>

{% include workshops.html %}



{% include classes.html %}

