
<ul class="icon-links">


  <li class="icon-link-item"><a href="/" {% if page.url == "/" %} class="link-active"{% endif %} >Home</a></li>
<!--<li class="icon-link-item"><a href="/cv"{% if page.url == "/cv.html" %} class="link-active"{% endif %} >CV</a></li>-->
  <li class="icon-link-item"><a href="/classes"{% if page.url == "/classes.html" %} class="link-active"{% endif %}>Classes</a></li>
  <li class="icon-link-item"><a href="/registration"{% if page.url == "/registration.html" %} class="link-active"{% endif %}>Registration</a></li>
<li class="icon-link-item">
<a href="https://instagram.com/salsalastyle" target="_blank" class="social-link">
    <i class="fab fa-instagram"></i>
</a>
</li>
    <li class="icon-link-item">
<a href="https://www.facebook.com/profile.php?id=61572834536280" target="_blank" class="social-link">
    <i class="fab fa-facebook"></i>
</a>
</li>
</ul>

